.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  /* выстраиваем изображения в 2 колонки для для экранов с разрешением менее 1024px по ширине */
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  /* выстраиваем изображения в 1 колонку для для экранов с разрешением менее 699px по ширине */
  .cards {
    grid-template-columns: 1fr;
  }
}