.card {
  width: 320px;
  height: 512px;
  background-image: url(../../images/oblozhka.jpg);
  background-size: 100% auto;
  background-position: bottom;
  
}

.card:nth-of-type(2) {
  background-image: url(../../images/1.jpg);
}

.card:nth-of-type(3) {
  background-image: url(../../images/2.jpg);
}

.card:nth-of-type(4) {
  background-image: url(../../images/3.jpg);
}

.card:nth-of-type(5) {
  background-image: url(../../images/4.jpg);
}

.card:nth-of-type(6) {
  background-image: url(../../images/5.jpg);
}

.card:nth-of-type(7) {
  background-image: url(../../images/6.jpg);
}