.form__input {
  width: 256px;
  min-height: 41px;
  background-color: white;
  opacity: 0.55;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.41px;
  color: #333333;
  border: none;
  border-radius: 12px;
  padding: 10px 12px;
}